{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet" />

</head>
<body>
 <!-- Page Header -->
 <nav>
  <div class="header">
     <h6 class="subtitle">Small Team With Big Ideas</h6>
     <h1 class="title">a YST project</h1>
     <div class="buttons text-center">
         <a href="#service" class="btn btn-primary rounded w-lg btn-lg my-1">Our Service</a>
         <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
     </div>
  </div>
    <!-- End Of Page Header -->
 </nav>

<style>
  .header{
    height: 100%;
    min-height: 570px;
    background: url(static/images/background01.png) no-repeat center center fixed;
    background-size: cover;
    text-align:centre;
  }
  .header h1{
    text-align:centre;
    margin-top:200px;
    padding-left:300px;
    color:blue;
   }
</style>


<!--the main navigation bar-->
 <div class="container">
 <ul class="nav nav-tabs">
  <li class="navbar-brand">
    <a class="nav-link active" aria-current="page" href="#">HOME : MUHIMBILI HOSPITAL</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'PHARMACY:pharmacy' %}" method="GET"  >MEDICAL SHOP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">OUR TEAM</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
 </ul>
</div>
<!--end of the main navigation bar-->


 <!--start jumbotron class -->
 <div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
     <div class="jumbotron">
      <img src="{% static 'images/side01.jpg' %}" class="img-thumbnail" alt="">
         <p>one of the importance of the fruit is its ability to grow in the cold winters of the himalays mountains</p>
     </div>
    </div>
    <div class="col-lg-4">
      <div class="jumbotron">
       <img src="{% static 'images/side02.jpg' %}" class="img-thumbnail" alt="">
         <p>one of the importance of the fruit is its ability to grow in the cold winters of the himalays mountains</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="jumbotron">
       <img src="{% static 'images/side03.jpg' %}" class="img-thumbnail" alt="">
         <p>one of the importance of the fruit is its ability to grow in the cold winters of the himalays mountains</p>
      </div>
    </div>
  </div>
 </div>
<!-- End of the jumbotron class -->

 <!-- Portfolio section -->
    <section id="portfolio">
        <div class="container text-center">
            <h1 class="section-subtitle">MUHIMBILI NATIONAL HOSPITAL</h1>
            <h6 class="section-title mb-5">our role is to save Tanzanian lives</h6>
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'images/side02.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'images/map2.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'images/moi.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'images/facility.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{% static 'images/info01.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{% static 'images/medicalR.jpg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Project Title</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->
<style>
  section {
    padding: 100px 0;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
  }
  .img-wrapper .overlay .overlay-infos {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    color: #fff;
  }
</style>

<!--start jumbotron 02 class -->
<div class="navb">
 <div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
     <div class="jumbotron">
         <p>the aim is to make Tanzania a disease free country</p>
     </div>
    </div>
    <div class="col-lg-4">
      <div class="jumbotron">
          <p>ABOUT US</p>
         <p>we save the lives of Tanzania</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="jumbotron">
       <p>CONTACT US</p>
         <p>one of the importance of the fruit is its ability to grow in the cold winters of the himalays mountains</p>
      </div>
    </div>
  </div>
 </div>
</div>
<!-- End of the jumbotron 02 class -->

<style>
    .navb{
     background: url(static/images/background01.png) no-repeat center center fixed;
     width:100%;
     background-size: cover;
    }
</style>




</body>
</html>