{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/all.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">
  <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
  <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
  <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
  <link rel="stylesheet" href="{% static 'js/jquery-3.7.0.js' %}">

</head>

<body>
  <h1>welcome to register your feeds</h1>
  <div class="bd-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary" id="bar">
    <button class="btn btn-link p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none" type="button"
      data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
      On this page
      <svg class="bi d-md-none ms-2" aria-hidden="true">
        <use xlink:href="#chevron-expand"></use>
      </svg>
    </button>
    <strong class="d-none d-md-block h6 my-2 ms-3">On this page</strong>
    <hr class="d-none d-md-block my-2 ms-3">
    <div class="collapse bd-toc-collapse" id="tocContents">
      <nav id="TableOfContents">
        <ul>
          <li><a href="#example" class="">Example</a></li>
          <li><a href="#sizing" class="">Sizing</a></li>
          <li><a href="#form-text" class="">Form text</a></li>
          <li><a href="#disabled" class="">Disabled</a></li>
          <li><a href="#readonly" class="">Readonly</a></li>
          <li><a href="#readonly-plain-text" class="">Readonly plain text</a></li>
          <li><a href="#file-input" class="">File input</a></li>
          <li><a href="#color" class="">Color</a></li>
          <li><a href="#datalists" class="">Datalists</a></li>
          <li><a href="#css" class="">CSS</a>
            <ul>
              <li><a href="#sass-variables" class="">Sass variables</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<h1>hello</h1>

</body>

</html>